<template>
	<Top> </Top>
	<main>
		<NuxtPage />
	</main>
	<Down />
</template>
<style>
	html {
		@apply scroll-smooth break-words text-xl text-black subpixel-antialiased;
	}
	body {
		@apply bg-gray-50 dark:bg-gray-600;
	}
	h1 {
		@apply text-3xl uppercase xl:text-5xl;
	}

	h2 {
		@apply text-2xl xl:text-4xl;
	}

	h3 {
		@apply text-2xl xl:text-3xl;
	}

	h4 {
		@apply text-xl xl:text-2xl;
	}

	h5 {
		@apply text-xl;
	}

	p {
		@apply mb-4 text-xl font-light;
	}

	a {
		@apply hover:underline;
	}
	.title-brackets::before {
		@apply content-['\['];
		@apply mr-1.5;
		@apply font-bold text-sec;
		font-size: larger;
	}
	.title-brackets::after {
		@apply content-['\]'];
		@apply ml-1.5;
		@apply font-bold text-sec;
		font-size: larger;
	}
	img {
		@apply dark:brightness-75;
	}
</style>
