<script setup>
	import { resolveComponent, computed } from 'vue'
	const isLink = resolveComponent('RouterLink')
	const props = defineProps({
		to: {
			type: [String, Object],
			default: null,
		},
		main: Boolean,
		sec: Boolean,
		border: Boolean,
		next: Boolean,
		prev: Boolean,
		clear: Boolean,
		disabled: Boolean,
	})
	const isComponent = computed(() => (props.to ? isLink : 'button'))
	const isType = computed(() => (isComponent.value != 'button' ? null : 'button'))
	const isClass = computed(() => {
		return {
			btn__main: props.main,
			btn__sec: props.sec,
			btn__next: props.next,
			btn__prev: props.prev,
			btn__clear: props.clear,
			btn__link: props.to,
			btn__disabled: props.disabled,
		}
	})
</script>
<template>
	<KeepAlive>
		<component
			:is="isComponent"
			:type="isType"
			:disabled="disabled ? true : null"
			:to="to"
			class="btn"
			:class="[{ group: next || prev }, isClass]"
			:aria-disabled="disabled ? true : null"
		>
			<slot />
		</component>
	</KeepAlive>
</template>
<style scoped>
	.btn {
		@apply inline-flex items-center justify-center gap-1.5;
		@apply px-5 py-1.5;
		@apply w-full md:w-auto;
		@apply text-base font-normal;
		@apply transition-all duration-300;
		@apply disabled:pointer-events-none disabled:isolate disabled:cursor-not-allowed disabled:opacity-70;
		@apply hover:text-black;
		@apply rounded-full border border-solid border-main;
		@apply bg-white text-main hover:bg-main hover:text-white;
	}
	.btn__disabled {
		@apply disabled:pointer-events-none disabled:isolate disabled:cursor-not-allowed disabled:opacity-70;
		@apply pointer-events-none opacity-70;
	}
	.btn__main {
		/* @apply text-white dark:text-gray-200; */
		/* @apply border border-solid; */
		/* @apply bg-gradient-to-r from-cyan-500 to-blue-500 hover:bg-gradient-to-bl focus:outline-none focus:ring-4 focus:ring-cyan-300 dark:from-cyan-600 dark:to-blue-800 dark:focus:ring-cyan-800; */
		@apply text-main dark:text-white;
		@apply hover:bg-main hover:text-white dark:hover:bg-main;
		@apply focus:outline-none focus:ring-2 focus:ring-main dark:focus:ring-gray-600;
	}

	.btn__sec {
		@apply bg-main dark:bg-main dark:hover:bg-main;
		@apply text-white dark:text-white;
		@apply hover:bg-white hover:text-main dark:hover:bg-white dark:hover:text-main;
		@apply focus:outline-none focus:ring-2 focus:ring-white dark:focus:ring-main;
	}

	.btn__prev,
	.btn__next {
		@apply gap-x-1;
	}

	.btn__clear {
		@apply w-auto bg-transparent shadow-none;
		/* @apply text-main dark:border-white dark:text-white;
		@apply hover:bg-main hover:text-white dark:hover:text-main; */
	}
</style>
