<script setup>
	const { locale } = useI18n()
</script>
<template>
	<section id="contact" class="border-top scroll-mt-0 border-solid border-acc bg-main px-4 py-8 md:px-0">
		<div class="container mx-auto flex flex-wrap gap-8 text-white">
			<img
				:src="locale === 'ru' ? '/webp/whitelogo.webp' : '/webp/logoFooter.webp'"
				alt="logo white"
				loading="lazy"
				class="h-7 w-fit object-cover lg:h-14"
			/>
			<div class="flex flex-col items-start gap-2">
				<span class="flex items-center justify-center gap-2 leading-none">
					<Svg svg="phone"></Svg>
					<a href="tel:+74997450912">+7(499)745-09-12</a>
				</span>
				<span class="flex items-center justify-center gap-2 leading-none">
					<Svg svg="mail"></Svg>
					<a href="mailto:miru-pir@inbox.ru">miru-pir@inbox.ru</a>
				</span>
			</div>
			<address class="flex flex-col items-start gap-2 not-italic">
				<span class="flex items-center justify-center gap-2 leading-none">
					<Svg svg="home"></Svg>
					<a href="https://yandex.eu/maps/-/CHaqJBZb" v-text="$t('address')" />
				</span>
				<span class="flex items-center justify-center gap-2 leading-none">
					<Svg svg="time"></Svg>
					<span v-text="$t('time')" />
				</span>
			</address>
			<div class="flex items-center justify-center">
				<a href="https://www.youtube.com/@pir-innovation-platform"
					><Svg svg="youtube" class="text-5xl hover:fill-sec"></Svg
				></a>
			</div>
			<div class="ml-auto flex flex-col items-start gap-2">
				<Btn to="/#home" class="!no-underline hover:!bg-acc">{{ $t('up') }}</Btn>
			</div>
		</div>
	</section>
</template>
