<script setup>
	defineProps({
		svg: {
			type: [String, Number],
			required: true,
		},
	})
	const regName = /[0-9a-z]+$/i
</script>
<template>
	<nuxtIcon :name="svg" filled :class="`svg-${regName.exec(svg)} `" role="img" />
</template>
