<script setup>
	import { useDarkMode } from '@/composables/useDarkMode'
	const { isDarkMode, toggleDarkMode } = useDarkMode()
	// Вычисляем нужный логотип
	const computedLogo = computed(() => {
		if (isDarkMode.value) {
			return locale.value === 'ru' ? '/webp/whitelogo.webp' : '/webp/logoFooter.webp' // В тёмной теме всегда белый логотип
		}
		return locale.value === 'ru' ? '/webp/logo.webp' : '/webp/logoeng.webp' // В светлой — по языку
	})
	const { locale, setLocale } = useI18n()
	// Получение текущей локали
	const currentLocale = computed(() => locale.value)

	// Переключение состояния меню
	const isMenuOpen = ref(false)
	const toggleMenu = () => {
		isMenuOpen.value = !isMenuOpen.value
	}
	const menu = ['about', 'advantages', 'stages', 'teams', 'cooperation']
	const activeSection = ref(null)

	function setActive(id) {
		activeSection.value = id
	}
	// Обрабатываем скролл с помощью Intersection Observer
	onMounted(() => {
		const sections = menu.map(item => document.getElementById(item))

		const observer = new IntersectionObserver(
			entries => {
				entries.forEach(entry => {
					if (entry.isIntersecting) {
						activeSection.value = entry.target.id
					}
				})
			},
			{ threshold: 0.7 } // Начинать активировать при 50% видимости
		)

		sections.forEach(sec => sec && observer.observe(sec))
	})

	onBeforeUnmount(() => {
		if (cleanupObserver) {
			cleanupObserver.disconnect()
		}
	})
</script>
<template>
	<header
		class="sticky top-0 z-30 border-b-2 border-sec bg-white py-4 dark:bg-acc md:h-auto"
		:class="{ 'h-screen': isMenuOpen }"
	>
		<nav class="container mx-auto px-2 md:px-0">
			<div class="flex flex-wrap items-center justify-between gap-2">
				<NuxtLink to="#home" exact class="order-1 items-start">
					<img :src="computedLogo" alt="logo" loading="lazy" class="h-7 w-fit object-cover lg:h-10 xl:h-14" />
					<span class="sr-only" v-text="$t('head_logo')" />
				</NuxtLink>
				<button class="group relative order-3 h-6 w-8 min-w-[2rem] lg:!hidden" type="button" @click="toggleMenu()">
					<span
						v-for="i in 3"
						:key="i"
						class="absolute left-0 h-1 w-full rounded-xl bg-main duration-300 first:top-0 last:bottom-0 even:top-1/2 even:w-[1.3rem] even:-translate-y-2/4 even:after:absolute even:after:left-[1.6rem] even:after:top-1/2 even:after:h-1 even:after:w-[0.4rem] even:after:-translate-y-2/4 even:after:rounded-xl even:after:bg-sec even:after:content-[''] dark:bg-white"
						:class="[
							{
								'md:group-hover:!bg-main-darker group-hover:!bg-main [&]:first:top-3 [&]:first:rotate-45 [&]:last:!bottom-auto [&]:last:!top-3 [&]:last:!-rotate-45 [&]:even:!hidden':
									isMenuOpen,
							},
						]"
					/>
				</button>
				<!-- <div class="order-2 flex items-center gap-2 text-sm lg:order-3 lg:gap-4 lg:text-base"> -->
				<Btn sec to="#contact" class="group order-2 max-w-fit grow !p-2.5 lg:order-3 lg:max-w-fit">
					<span class="hidden lg:block">{{ $t('contact') }}</span>
					<!-- <Svg svg="phone" ></Svg> -->
					<svg
						class="block !fill-main group-hover:fill-black lg:hidden"
						width="17"
						height="17"
						viewBox="0 0 17 17"
						fill="none"
						xmlns="http://www.w3.org/2000/svg"
					>
						<path
							d="M11.5004 10.6018C9.5046 12.7018 4.41377 7.65676 6.4171 5.54843C7.64043 4.26093 6.25877 2.79009 5.49377 1.70759C4.05793 -0.321572 0.907101 2.48009 1.0021 4.26259C1.3046 9.88426 7.38544 16.5459 13.2738 15.9643C15.1154 15.7826 17.2321 12.4559 15.1188 11.2401C14.0629 10.6318 12.6121 9.43176 11.5004 10.6009"
							stroke="#F8F8F8"
							stroke-linecap="round"
							stroke-linejoin="round"
						></path>
					</svg>
				</Btn>
				<Btn
					class="order-2 max-w-fit rounded bg-gray-200 !p-2.5 text-black dark:bg-gray-800 dark:text-white lg:order-3"
					@click="toggleDarkMode"
				>
					<svg
						v-if="!isDarkMode"
						class="h-3.5 w-3.5"
						aria-hidden="true"
						xmlns="http://www.w3.org/2000/svg"
						fill="currentColor"
						viewBox="0 0 18 20"
					>
						<path
							d="M17.8 13.75a1 1 0 0 0-.859-.5A7.488 7.488 0 0 1 10.52 2a1 1 0 0 0 0-.969A1.035 1.035 0 0 0 9.687.5h-.113a9.5 9.5 0 1 0 8.222 14.247 1 1 0 0 0 .004-.997Z"
						></path>
					</svg>
					<svg
						v-else
						class="h-3.5 w-3.5"
						aria-hidden="true"
						xmlns="http://www.w3.org/2000/svg"
						fill="currentColor"
						viewBox="0 0 20 20"
					>
						<path
							d="M10 15a5 5 0 1 0 0-10 5 5 0 0 0 0 10Zm0-11a1 1 0 0 0 1-1V1a1 1 0 0 0-2 0v2a1 1 0 0 0 1 1Zm0 12a1 1 0 0 0-1 1v2a1 1 0 1 0 2 0v-2a1 1 0 0 0-1-1ZM4.343 5.757a1 1 0 0 0 1.414-1.414L4.343 2.929a1 1 0 0 0-1.414 1.414l1.414 1.414Zm11.314 8.486a1 1 0 0 0-1.414 1.414l1.414 1.414a1 1 0 0 0 1.414-1.414l-1.414-1.414ZM4 10a1 1 0 0 0-1-1H1a1 1 0 0 0 0 2h2a1 1 0 0 0 1-1Zm15-1h-2a1 1 0 1 0 0 2h2a1 1 0 0 0 0-2ZM4.343 14.243l-1.414 1.414a1 1 0 1 0 1.414 1.414l1.414-1.414a1 1 0 0 0-1.414-1.414ZM14.95 6.05a1 1 0 0 0 .707-.293l1.414-1.414a1 1 0 1 0-1.414-1.414l-1.414 1.414a1 1 0 0 0 .707 1.707Z"
						></path>
					</svg>
				</Btn>
				<Btn
					sec
					class="order-2 max-w-fit shrink !px-2.5 lg:order-3"
					@click="setLocale(currentLocale === 'ru' ? 'en' : 'ru')"
				>
					{{ currentLocale === 'ru' ? 'en' : 'ru' }}
				</Btn>
				<!-- </div> -->
				<div
					:class="[
						{ hidden: !isMenuOpen, flex: isMenuOpen },
						'order-4 w-full items-center justify-between lg:order-2 lg:flex lg:w-auto',
					]"
				>
					<ul class="mt-4 flex w-full flex-col items-center gap-4 font-medium lg:mt-0 lg:flex-row">
						<li v-for="item in menu" class="w-full lg:w-auto">
							<Btn
								:to="`#${item}`"
								aria-current="page"
								class="!w-full lg:w-auto"
								:class="{ '!bg-main !text-white': activeSection === item }"
								@click="setActive(item)"
								>{{ $t(`menu_${item}`) }}</Btn
							>
						</li>
					</ul>
				</div>
			</div>
		</nav>
	</header>
</template>
